body {
  font-family: Arial, comic-sans-ms, cursive, sans-serif;
  margin: 20px;
}

h1, h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
}

li:hover {
  background-color: #eee;
}
